body{
font-family:Arial;
margin:0;
background:#f4f4f4;
text-align:center;
}

header{
background:#190975;
color:white;
padding:20px;
}

nav{
background:#1d1010;
padding:10px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

.products{
display:flex;
justify-content:center;
gap:20px;
padding:30px;
}

.product{
background:white;
padding:20px;
width:150px;
border-radius:5px;
}

button{
background:#070707;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

footer{
background:#190975;
color:white;
padding:10px;
}
